[submodule "mockpass"]
	path = mockpass
	url = https://github.com/fajarnugraha37/mockpass.git
    branch = keycloak-singpass-corppass-integration
[submodule "mocksaml"]
	path = mocksaml
	url = https://github.com/fajarnugraha37/mocksaml.git
    branch = keycloak-singpass-corppass-integration
[submodule "polis"]
	path = polis
	url = git@github.com:fajarnugraha37/polis.git
    branch = keycloak-singpass-corppass-integration
