<!-- Breadcrumb -->
<div class="bg-slate-50 dark:bg-slate-800 border-b border-slate-200 dark:border-slate-700">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-3">
        <nav class="flex items-center space-x-2 text-sm">
            {{#each items}}
                {{#if @last}}
                    <span class="text-slate-600 dark:text-slate-300">{{this.name}}</span>
                {{else}}
                    <a href="{{this.url}}" class="text-blue-600 hover:text-blue-800 dark:text-blue-400 dark:hover:text-blue-300">{{this.name}}</a>
                    <svg class="w-4 h-4 text-slate-400" fill="currentColor" viewBox="0 0 20 20">
                        <path fill-rule="evenodd"
                            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                            clip-rule="evenodd"></path>
                    </svg>
                {{/if}}
            {{/each}}
        </nav>
    </div>
</div>